<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.lostchildinfo.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lry.lostchildinfo.entity.pojo.Article">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_code" property="userCode" />
        <result column="title" property="title" />
        <result column="pic_url" property="picUrl" />
        <result column="create_time" property="createTime" />
        <result column="content" property="content" />
        <result column="update_code" property="updateCode" />
        <result column="update_id" property="updateId" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
