<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.lostchildinfo.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lry.lostchildinfo.entity.pojo.Role">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_value" property="roleValue" />
        <result column="role_type" property="roleType" />
        <result column="create_time" property="createTime" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="update_time" property="updateTime" />
        <result column="update_name" property="updateName" />
        <result column="update_id" property="updateId" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
