<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.lostchildinfo.mapper.SlideshowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lry.lostchildinfo.entity.pojo.Slideshow">
        <id column="id" property="id" />
        <result column="pic" property="pic" />
        <result column="create_time" property="createTime" />
        <result column="create_id" property="createId" />
        <result column="create_code" property="createCode" />
        <result column="update_id" property="updateId" />
        <result column="update_code" property="updateCode" />
        <result column="update_time" property="updateTime" />
        <result column="state" property="state" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
