<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lry.lostchildinfo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lry.lostchildinfo.entity.pojo.User">
        <id column="user_id" property="userId" />
        <result column="qq_id" property="qqId" />
        <result column="user_code" property="userCode" />
        <result column="user_pwd" property="userPwd" />
        <result column="state" property="state" />
        <result column="user_name" property="userName" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="avatar_img" property="avatarImg" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="create_name" property="createName" />
        <result column="update_time" property="updateTime" />
        <result column="update_name" property="updateName" />
        <result column="update_id" property="updateId" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <select id="listByPage" resultType="com.lry.lostchildinfo.entity.vo.UserVo" parameterType="com.lry.lostchildinfo.entity.po.UserPo">
        SELECT ss.user_id,ss.user_pwd,ss.user_code,ss.age,ss.sex,ss.state,ss.create_time,sr.role_type FROM `sys_user` ss
        left join `sys_user_role` ssr
        on ss.user_id = ssr.user_id
        left join `sys_role` sr
        on ssr.role_id = sr.role_id
        <where>
            <if test="userPo.userCode != '' and userPo.userCode != null">
                and ss.user_code like concat('%',#{userPo.userCode},'%')
            </if>
            <if test="userPo.roleType != '' and userPo.roleType != null">
                and sr.role_type = #{userPo.roleType}
            </if>
            <if test="userPo.state != '' and userPo.state != null">
                and ss.state = #{userPo.state}
            </if>
            and ss.deleted = 0
            and ssr.deleted = 0
            and sr.deleted = 0
        </where>

        order by ss.create_time Desc
    </select>

</mapper>
